body, html {
  margin: 0;
  padding: 0;
  font-family: 'Abel', sans-serif;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
}
body{
  background: linear-gradient(-45deg, #2B5D6B, #306B76, #368881);
  background-size: 400% 400%;
  background-attachment: fixed;
  animation: gradient 15s ease infinite;
}
@keyframes gradient {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}

p {
  margin: 0;
  padding: 0;
}

img {
  padding: 0;
}

/* NAVBAR SECTION START!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
.navbar-container {
  height: 5vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  z-index: 100;
  border-bottom: 1px solid white;
}

.navbar-container a {
  margin-left: 5%;
  margin-right: 5;
  text-decoration: none;
  color: white;
}

/* NAVBAR SECTION END!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
.welcome-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding-top: 5%;
  padding-top: 5%;
  padding-bottom: 5%;;
}

.welcome-container-content1 {
  display: flex;
  flex-direction: column;  /* Stacks text vertically */
  justify-content: center;  /* Centers content vertically */
  align-items: flex-end;  /* Moves content to the right */
  font-size: 2.2rem;
  text-align: right;
  /* Ensure text inside the <p> tags is centered */
  padding-right: 15px;
  color: white;
  width: 50%;
}

.welcome-container-content2 {
  justify-content: center;
}

.profilepic {
    width: 10rem; /* Keeps the circular size */
    height: auto;
    display: block;
    border-radius: 40%; /* Ensures it stays circular */

}

  
  
  /*width: 7.5rem;
  /* Maintain the 50% width */

  /* Rounded image */
  /*object-fit: cover;
  height: auto;
  max-width: 300px;
  /* Maintain consistency across different screens */
  /*box-shadow: 0 8px 12px rgba(0, 0, 0, 1.0);*/


.description-container {
  align-items: center;
  width: 100%;
  text-align: center;
  font-size: 1.3rem;
  color: white;
}

.others-container {
  display: flex;
  flex-direction: column;
}

.counter-number {
  color: white;
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
  height: 30vh;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.narrow-object-container {
  display: flex;
  justify-content: center;
  z-index: 10;
  position: relative;
  /* Allow positioning of narrow object */
}

.narrow-object {
  color: white;
  font-size: 2.3rem;
  height: 5vh;
  width: 40px;
  /* Width for visibility */
  text-align: center;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.narrow-object:hover {
  transform: scale(1.15);
  /* Slightly increases size to make it stand out */
  transition: all 0.15s ease-in-out;
}


@media (max-width: 860px) and (max-height: 900px) {
  .welcome-container {
    display: flex;
    flex-direction: column;
  }

  .welcome-container-content1 {
    display: flex;  /* Enables flexbox */
    flex-direction: column;  /* Stacks text vertically */
    justify-content: center;  /* Centers content vertically */
    align-items: center;  /* Moves content to the right */
    /* Center <p> elements vertically */
    font-size: 1.5rem;
    text-align: center;
    /* Ensure text inside the <p> tags is centered */
    width: 100%;
  }

  .welcome-container-content2 {
    padding-top: 5%;
    padding-bottom: 5%;;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .profilepic {
    width: 10rem;
    height: auto;
    border-radius: 50%;
    /* Rounded image */
    max-width: 300px;
    /* Maintain consistency across different screens */
  }
  .description-container {
    width: 100%;
    font-size: 1rem;
    align-items: center;
  }
}
