body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    background-color: black; /* Default background */
    color: white; /* Default text color */
    transition: background-color 0.3s, color 0.3s; /* Smooth transitions */
    min-height: 100vh; /* Ensure full viewport height */
    display: flex;
    flex-direction: column; /* Stack header, sections, and footer */
    overflow-y: scroll;  /* prevent layout shifting due to the scrollbar */
}

/* Header/Navigation */
header {
    top: 0;
    width: 100%;
    background-color: black;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    max-width: 70%; /* Ensures the content stays within the margins on larger screens */
    margin: 0 auto; /* Centers the nav */
}

.nav-left {
    font-size: 1.5em;
    text-decoration: none;
}
.nav-left a {
    text-decoration: none;
    cursor: pointer;
    color: white;
}
.nav-right {
    display: flex;
    align-items: center;
}

.nav-right a {
    color: white;
    margin-left: 10%;
    text-decoration: none;
    cursor: pointer;
}
#theme-toggle{
    margin-left:10%;
    cursor: pointer;
}

@media (max-width: 768px) {
    nav {
        justify-content: space-between; /* Center nav-right within nav */
        width: 100%; /* Full width */

    }
    .nav-left {
        display: none; /* Hide nav-left on smaller screens */
    }

    .nav-right {
        justify-content: space-between; /* Center navigation items */
        width: 100%; /* Full width */
    }

    .nav-right a,
    #theme-toggle {
        margin: 0 10px; /* Adjust spacing between items */
    }


}

/* Landing Section */
#landing {
    min-height: 100vh;
    display: grid;
    place-items: center; /* Centers content both horizontally and vertically */
    padding: 20px;
    box-sizing: border-box; /* Include padding in height calculation */
}

.landing-content {
    text-align: center;
    width: 100%; /* Full width on small screens */
    max-width: 70%; /* Limits width on larger screens */
    margin: 0 auto; /* Centers the content */
}

.profile-pic img {
    width: 16vh; /* Adjust size as needed */
    height: 16vh;
    /*border-radius: 50%;*/
    object-fit: cover;
}

.name {
    font-size: 2em;
    margin: 20px 0;
}

.role-container {
    font-size: 1.2em;
    margin-bottom: 20px;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 1vh;
}

.social-icons img {
    width: 30px; /* Adjust icon size */
    filter: invert(100%); /* Invert colors to white */
}
.counter-number{
    margin-top: 40vh;
}
.scroll-down {
    margin-top: 5vh;
    font-size: 2em;
}
@media (max-width: 1268px) {
    .profile-pic img {
        width: 18vh; /* Adjust size as needed */
        height: 18vh;
        border-radius: 50%;
        object-fit: cover;
    }
}



/* About Section */
#about {
    min-height: 100vh;
    padding: 40px 20px;
    text-align: left;
}

.about-content {
    max-width: 70%;
    margin: 0 auto;
}

.about-title, .experience-title {
    font-size: 2em;
    margin-bottom: 20px;
}

.about-details {
    margin-bottom: 30px;
}
.experience-title {
    margin-top: 10vh;
}

.download-cv {
    background-color: transparent;
    border: 1px solid white;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 0.5vh;
}
.download-cv a {
    text-decoration: none;
    color: white;
}
.timeline {
    border-left: 2px solid rgba(255, 255, 255, 0.3);
    padding-left: 20px;
}

.milestone {
    margin-bottom: 20px;
    position: relative;
}
.experience-education {
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);

}
.skills{
    max-width: 70%;
    margin: 0 auto;
}
.skill-indicators {
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.skill {
    text-align: center;
    padding: 20px;
    border: 0.1px solid white;
    border-radius: 5px;
}

.skill-name {
    font-weight: bold;
    margin-bottom: 10px;
}

.skill-level {
    font-size: 1.2em;
}


@media (max-width: 968px) {
    .about-content {
        max-width: 100%;
        margin: 0 auto;
    }
    .experience-education {
        max-width: 100%;
        grid-template-columns: 2fr;
    }
    .skills{
        max-width: 100%;
        margin: 0 auto;
    }
    .skill-indicators {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }
}

/* Blog & Projects Section */
#blog-projects {
    min-height: 60vh;
    padding: 20px;
}

.blog-projects-content {
    max-width: 70%;
    margin: 0 auto;
}

.blog-projects-title {
    font-size: 2em;
    margin-bottom: 20px;
    text-align: left;
}

.blog-project-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.preview {
    border: 1px solid white;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
}

.details-button {
    background-color: transparent;
    border: 1px solid white;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 20px;
}


/* Modal overlay background */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 1000;
}

/* Modal container */
.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    max-width: 600px;
    background: white;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    z-index: 1001;
    display: none;
}

/* Close button */
.modal-close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
}

/* Modal title */
#modal-title {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

/* Modal content */
#modal-text {
    font-size: 1rem;
    line-height: 1.5;
    max-height: 70vh; /* Keeps it within the viewport */
    overflow-y: auto; /* Enables scrolling inside modal if needed */
}

/* Responsive Design */
@media (max-width: 768px) {
    .blog-projects-content {
        max-width: 100%;
        margin: 0 auto;
    }
    .blog-project-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
    }
    .preview {
        border: 1px solid rgba(255, 255, 255, 0.1);
        border-radius: 5px;
        padding: 20px;
    }
    .modal {
        width: 90%;
        max-width: 90%;
        padding: 15px;
    }
    #modal-text {
        max-height: 60vh;
    }
}

/* Contact Section */
#contact {
    min-height: 50vh;
    padding: 40px 20px;
    text-align: left;
}

.contact-content {
    max-width: 70%;
    margin: 0 auto;
}

.contact-title {
    font-size: 2em;
    margin-bottom: 20px;
}

#contact-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.form-group {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
}

input, textarea {
    padding: 10px;
    border: 1px solid white;
    background-color: transparent;
    color: white;
    font-family: 'Orbitron', sans-serif;
    resize: vertical; /* Allow vertical resizing of the textarea */
    border-radius: 5px;
}

.send-message {
    background-color: transparent;
    border: 1px solid white;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    width: fit-content; /* Adjust width to content */
    margin-top: 10px;
}

.error-message {
    color: red;
    font-size: 0.8em;
    margin-top: 5px;
}

/* Responsive adjustments */
@media (max-width: 968px) {
    .contact-content {
        max-width: 100%;
        margin: 0 auto;
    }
}

/* Footer */
footer {
    position: relative;
    text-align: center;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.8);
}
#back-to-top {
    position: absolute; /* Position relative to the footer */
    bottom: 20px;
    right: 20px;
    background-color: rgba(51, 51, 51, 0.8);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px 15px;
    font-size: 1rem;
    z-index: 1002;
    opacity: 0; /* Initially hidden */
    transition: opacity 0.3s ease; /* Smooth transition for visibility */
}

#back-to-top:hover {
    background-color: rgba(51, 51, 51, 0.9);
}

.arrow-up {
    display: inline-block;
    font-size: 1.2em;
    line-height: 1;
}


@media (max-width: 768px) {
    #back-to-top {
        bottom: 15px;
        right: 15px;
    }
}
/* Responsive adjustments */
@media (min-width: 968px) {
    body {
        padding-left: 15%; /* Side margins */
        padding-right: 15%;
    }
}
.light-theme {
    background-color: #f0f0f0 !important; /* Light grey background */
    color: black !important;
}
.light-theme nav {
    background-color: #f0f0f0;
}
.light-theme .nav-left a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}
.light-theme .nav-right a{
    color: black;
}
.light-theme #theme-toggle {
    color: black;
}
.light-theme .social-icons img {
    filter: invert(0%); /* Default: no inversion (black) */
}
.light-theme .skill {
    text-align: center;
    padding: 20px;
    border: 0.5px solid black;
    border-radius: 5px;
}
.light-theme .timeline {
    border-left: 2px solid black;
    padding-left: 20px;
}


.light-theme footer {
    background-color: #f0f0f0;
}

.light-theme .details-button,
.light-theme .download-cv,
.light-theme .download-cv a,
.light-theme .send-message {
    border-color: black;
    color: black;
}


.light-theme {
    background-color: #f0f0f0;
    color: black;
}

.light-theme .preview,
.light-theme .details-button,
.light-theme .load-more {
    border-color: black;
    color: black;
}

.light-theme .modal {
    background-color: white;
    color: black;
}

.light-theme .modal-close {
    color: black;
}



.light-theme input,
.light-theme textarea {
    border-color: black;
    color: black;
}

/* Navbar fix to cover the whole width*/
.light-theme header {
    width: 100%; /* Ensure full width on light-theme */
    background-color: #f0f0f0;
}