body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    background-color: black; /* Default background */
    color: white; /* Default text color */
    transition: background-color 0.3s, color 0.3s; /* Smooth transitions */
    min-height: 100vh; /* Ensure full viewport height */
    display: flex;
    flex-direction: column; /* Stack header, sections, and footer */
}


/* Header/Navigation */
header {
    top: 0;
    width: 100%;
    background-color: black;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    max-width: 70%; /* Ensures the content stays within the margins on larger screens */
    margin: 0 auto; /* Centers the nav */
}

.nav-left {
    font-size: 1.5em;
    text-decoration: none;
}
.nav-left a {
    text-decoration: none;
    color: white;
    cursor: pointer;
}
.nav-right {
    display: flex;
    align-items: center;
}

.nav-right a {
    margin-left: 10%;
    text-decoration: none;
    color: white;
    cursor: pointer;
}
#theme-toggle{
    margin-left:10%;
    color: white;
    cursor: pointer;
}

@media (max-width: 768px) {
    nav {
        justify-content: space-between; /* Center nav-right within nav */
        width: 100%;
    }
    .nav-left {
        display: none; /* Hide nav-left on smaller screens */
    }

    .nav-right {
        justify-content: space-between; /* Center navigation items */
        width: 100%; /* Full width */
    }

    .nav-right a,
    #theme-toggle {
        margin: 0 10px; /* Adjust spacing between items */
    }


}

/* Landing Section */
#landing {
    min-height: 100vh;
    display: grid;
    place-items: center; /* Centers content both horizontally and vertically */
    padding: 20px;
    box-sizing: border-box; /* Include padding in height calculation */
}

.landing-content {
    text-align: center;
    width: 100%; /* Full width on small screens */
    max-width: 70%; /* Limits width on larger screens */
    margin: 0 auto; /* Centers the content */
}

.profile-pic img {
    width: 15vh; /* Adjust size as needed */
    height: 15vh;
    border-radius: 50%;
    object-fit: cover;
}

.name {
    font-size: 2em;
    margin: 20px 0;
}

.role-container {
    font-size: 1.2em;
    margin-bottom: 20px;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 1vh;
}

.social-icons img {
    width: 30px; /* Adjust icon size */
    filter: invert(100%); /* Invert colors to white */
}
.counter-number{
    margin-top: 3vh;
}
.scroll-down {
    margin-top: 43vh;
    font-size: 1.1em;
}

/* About Section */
#about {
    min-height: 100vh;
    padding: 40px 20px;
    text-align: left;
}

.about-content {
    max-width: 70%;
    margin: 0 auto;
}

.about-title, .experience-title {
    font-size: 2em;
    margin-bottom: 20px;
}

.about-details {
    margin-bottom: 30px;
}
.experience-title {
    margin-top: 10vh;
}
.skill-indicators, .experience-education {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.skill {
    text-align: center;
    padding: 20px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 5px;
}

.skill-name {
    font-weight: bold;
    margin-bottom: 10px;
}

.skill-level {
    font-size: 1.2em;
}

.download-cv {
    background-color: transparent;
    border: 1px solid white;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 0.5vh;
}

.timeline {
    border-left: 2px solid rgba(255, 255, 255, 0.3);
    padding-left: 20px;
}

.milestone {
    margin-bottom: 20px;
    position: relative;
}

@media (max-width: 768px) {
    .about-content {
        max-width: 100%;
        margin: 0 auto;
    }
    .skill-indicators, .experience-education {
        grid-template-columns: 1fr;
    }
}

/* Blog & Projects Section */
#blog-projects {
    min-height: 100vh;
    padding: 20px;
}

.blog-projects-content {
    max-width: 70%;
    margin: 0 auto;
}

.blog-projects-title {
    font-size: 2em;
    margin-bottom: 20px;
    text-align: left;
}

.blog-project-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.preview {
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    padding: 20px;
    text-align: center;
}

.details-button {
    background-color: transparent;
    border: 1px solid white;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 20px;
}

.load-more {
    background-color: transparent;
    border: 1px solid white;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 20px;
    display: none;
    width: fit-content;
    margin: 20px auto 0;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1000;
    display: none;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: black;
    color: white;
    padding: 20px;
    border-radius: 5px;
    z-index: 1001;
    display: none;
    width: 40vw; /* 40% of viewport width */
    height: 40vh; /* 40% of viewport height */
    max-width: 600px; /* Maximum width */
    max-height: 80vh; /* Maximum height */
}

.modal-close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1.5em;
    cursor: pointer;
}

.modal-text {
    font-family: sans-serif;
    font-size: 8px;
    line-height: 1.6;
    padding: 20px;
    overflow-y: auto;
    text-align: left;
}



/* Contact Section */
#contact {
    min-height: 50vh;
    padding: 40px 20px;
    text-align: left;
}

.contact-content {
    max-width: 70%;
    margin: 0 auto;
}

.contact-title {
    font-size: 2em;
    margin-bottom: 20px;
}

#contact-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.form-group {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
}

input, textarea {
    padding: 10px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    background-color: transparent;
    color: white;
    font-family: 'Orbitron', sans-serif;
    resize: vertical; /* Allow vertical resizing of the textarea */
    border-radius: 5px;
}

.send-message {
    background-color: transparent;
    border: 1px solid white;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    align-self: flex-start; /* Align button to the left */
    width: fit-content; /* Adjust width to content */
    margin-top: 10px;
}

.error-message {
    color: red;
    font-size: 0.8em;
    margin-top: 5px;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .contact-content {
        max-width: 100%;
        margin: 0 auto;
    }
}

/* Footer */
footer {
    text-align: center;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.8);
}

/* Responsive adjustments */
@media (min-width: 1200px) {
    body {
        padding-left: 15%; /* Side margins */
        padding-right: 15%;
    }
}
.light-theme {
    background-color: #f0f0f0 !important; /* Light grey background */
    color: black !important;
}
.light-theme nav {
    background-color: #f0f0f0;
}
.light-theme .nav-left a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}
.light-theme .nav-right a{
    color: black;
}
.light-theme #theme-toggle {
    color: black;
}
.light-theme .social-icons img {
    filter: invert(0%); /* Default: no inversion (black) */
}
.light-theme .skill {
    text-align: center;
    padding: 20px;
    border: 0.5px solid black;
    border-radius: 5px;
}
.light-theme .timeline {
    border-left: 2px solid black;
    padding-left: 20px;
}


.light-theme footer {
    background-color: #f0f0f0;
}

.light-theme .details-button,
.light-theme .download-cv,
.light-theme .send-message {
    border-color: black;
    color: black;
}


.light-theme {
    background-color: #f0f0f0;
    color: black;
}

.light-theme .preview,
.light-theme .details-button,
.light-theme .load-more {
    border-color: black;
    color: black;
}

.light-theme .modal {
    background-color: white;
    color: black;
}

.light-theme .modal-close {
    color: black;
}



.light-theme input,
.light-theme textarea {
    border-color: black;
    color: black;
}

/* Navbar fix to cover the whole width*/
.light-theme header {
    width: 100%; /* Ensure full width on light-theme */
    background-color: #f0f0f0;
}
